{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<section class="sec-blog bg1 p-t-150 p-b-50">
    <div class="container response4">
        <h1 class="cl0">{% trans "Login Cancelled" %}</h1>

        {% url 'account_login' as login_url %}

        <p class="exist_account_info cl0">{% blocktrans %}You decided to cancel logging in to our site using one of your
            existing accounts. If this was
            a mistake, please proceed to <a href="{{login_url}}" class="hova">sign in</a>.{% endblocktrans %}</p>
    </div>
</section>
{% endblock %}