{% extends "base-layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="g-position--relative g-bg-color--primary">
  <div class="g-container--md g-padding-y-125--xs">
    <h1 class="g-font-size-32--xs g-font-size-36--md g-color--white">{% trans "Sign Up" %}</h1>

    <p class="exist_account_info">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You
      are about to use your
      {{provider_name}} account to login to
      {{site_name}}. <br> As a final step, please complete the following form:{% endblocktrans %}</p>

    <div class="row g-row-col--5 g-margin-b-30--xs center-flex-layout">
      <div class="col-md-5 g-margin-b-0--sm center-flex-layout">

        <form class="center-block g-width-500--sm g-width-550--md center-inline-grid text-center" id="signup_form"
          method="post" action="{% url 'socialaccount_signup' %}">
          {% csrf_token %}
          <div class="container g-margin-b-30--xs g-margin-b-20--md" id="signup_form">
            {{ form }}
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <br>
          <button class="btn btn-outline-primary" type="submit"><span
              class="g-color--white-opacity">{% trans "Sign Up" %} &raquo;</span></button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}