{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block title %} - Account Login | Discover Club Events and Gigs in Kenya {% endblock %}
{% block content %}
<!--========== PAGE CONTENT ==========-->
<!-- Login page -->
<!-- Content page -->
<section class="sec-blog bg1 p-t-100 p-b-30">
  <div class="container">
    <div class="p-b-30">
      <h3 class="ltext-106 cl0 txt-center respon1">
        Sign In
      </h3>
    </div>
    {% block messages %}
    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endblock %}
    <div class="row">
      <div class="col-sm-6 col-md-4 p-b-15">
      </div>

      <div class="col-sm-6 col-md-4 p-b-10 txt-center">
        <div class="p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
          {% for provider in socialaccount_providers %}
          <a title="{{provider.name}}"
            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params method='js_sdk' %}">
            <i class="fontsize fa fa-{{provider.id}}"></i>
            <p class="cl0 p-b-15">Login with {{provider.name}}</p>
          </a>
          {% endfor %}

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="hova">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}

          <form class="django-login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %} {% if form.non_field_errors %}
            <div class="alert alert-warning">
              <ul class="alert-message">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div class="bor8 bg-none m-b-12 {% if form.login.errors %}has-error{% endif %}">
              {{ form.login }}
            </div>

            <div class="bor8 bg-none m-b-12 {% if form.password.errors %}has-error{% endif %}">
              {{ form.password }}
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}
            <div class="btn-div pull-center">
              <button class="btn btn-primary btn-block-60" type="submit">{% trans "Sign In" %}</button>
            </div>
          </form>
          <h4 class="stext-110 cl0 p-b-30 m-t-24">
            <a href="{{ signup_url }}" class="stext-103 btn btn-primary btn-block-60">
              Sign Up </a>
          </h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 p-b-40">
        <!-- dont delete this div for styling purposes -->
      </div>
    </div>
  </div>
</section>
{% endblock %}