{% extends "base-layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="g-position--relative g-bg-color--primary">
  <div class="g-container--md g-padding-y-125--xs">

    <h3 class="g-font-size-32--xs g-font-size-36--md g-color--white" id="head_banner">{% trans "Sign Out" %}</h3>

    <p class="confirm_logout_info">{% trans 'Are you sure you want to sign out?' %}</p>

    <form class="center-block g-width-500--sm g-width-550--md center-inline-grid text-center" id="logout_form"
      method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}

      {% if redirect_field_value %}

      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

      {% endif %}

      <button class="btn btn-outline-success" type="submit">{% trans 'Sign Out' %}</button>
      <a class="btn btn-outline-danger" id="custom_logout_no" href="/accounts/profile/"><span
          class="g-color--white-opacity">{% trans 'No' %}</span></a>
    </form>

  </div>
</div>
{% endblock %}