{% extends "base-layout.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="sec-blog bg1 p-t-100 p-b-30">
	<div class="container">

		<h3 class="cl0" id="head_banner">{% trans "Password Reset Email Sent." %}</h3>

		{% if user.is_authenticated %}
		{% include "account/snippets/already_logged_in.html" %}
		{% block content_extra %} {% endblock %}
		{% else %}
		<p class="forgot_password_info">We have sent you an e-mail. Please contact us if you do not receive it within a
			few minutes. <br> You will be redirected to <a class="hova" href="/accounts/login">Sign In</a> page in 5 seconds.</p>
		<script>
			setTimeout("location.href = '{% url 'account_login' %}';", 5000);
		</script>
		{% endif %}
	</div>
</section>
{% endblock %}