{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="sec-blog bg1 p-t-100 p-b-30">
    <div class="container p-all-10">

        {% if user.is_authenticated %}

        {% include "account/snippets/already_logged_in.html" %}
        {% block content_extra %} {% endblock %}

        {% else %}
        <h3 class="cl0" id="head_banner">{% trans "Password Reset" %}
        </h3>
        <p class="forgot_password_info">
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>


        <div class="row g-row-col--5 g-margin-b-30--xs center-flex-layout">
            <div class="col-md-5 g-margin-b-0--sm center-flex-layout">

                <form method="POST" class="center-block g-width-500--sm g-width-550--md center-inline-grid text-center"
                    id="forgot_password_form" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div class="center-inline-grid g-margin-b-30--xs g-margin-b-20--md" id="signup_form">
                        {{ form }}
                    </div>
                    <div class="center-inline-grid g-margin-b-30--xs g-margin-b-20--md">
                        <button class="btn btn-outline-primary" type="submit"
                            value="{% trans 'Reset My Password' %}"><span
                                class="cl0">Reset Password &raquo;</span></button>
                    </div>
                </form>

                {% endif %}

            </div>
            <p class="forgot_password_info">{% blocktrans %}Please contact us if you have any trouble resetting your
                password.{% endblocktrans %}</p>
        </div>
    </div>
</section>>
{% endblock %}