{% extends "base-layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="sec-blog bg1 p-t-100 p-b-30">
    <div class="container p-all-10">
        <h3 class="cl0" id="head_banner">{% trans "Set Password" %}
        </h3>

        {% block messages %}
        {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endblock %}

        <div class="row g-row-col--5 g-margin-b-30--xs center-flex-layout">
            <div class="col-md-5 g-margin-b-0--sm center-flex-layout">

                <form class="center-block g-width-500--sm g-width-550--md center-inline-grid text-center" method="POST" action="{% url 'account_set_password' %}"
                    class="password_set">
                    {% csrf_token %}
                    <div class="center-inline-grid g-margin-b-30--xs g-margin-b-20--md" id="signup_form">
                            {{ form }}
                          </div>
                    <input class="btn btn-outline-primary btn-lg" type="submit" name="action"
                        value="{% trans 'Set Password' %}" />
                </form>

            </div>
        </div>
    </div>
</section>>
{% endblock %}