{% extends "base.html" %}
{% load i18n %}
{% block title %} - Register Account | Discover Club Events and Gigs in Kenya {% endblock %}
{% load crispy_forms_tags %}
{% load account socialaccount %}
{% block content %}
<div class="g-position--relative g-bg-color--primary">
  <div class="g-container--md g-padding-y-125--xs">
    <div class="g-text-center--xs g-margin-t-10--xs g-margin-b-20--xs">
      <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">{% trans "Sign Up" %}</h2>
    </div>
    {% block messages %}
    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endblock %}


    <p class="exist_account_info">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"
        class="hova">Sign In</a>.{% endblocktrans %}</p>
    <div class="g-text-center--xs g-margin-t-10--xs">
      <div class="g-color--white-opacity">{% trans 'or' %}</div>
    </div>

    <div class="row g-row-col--5 g-margin-b-30--xs center-flex-layout">
      <div class="col-md-5 g-margin-b-0--sm center-flex-layout">
        <form class="center-block g-width-500--sm g-width-550--md center-inline-grid text-center" method="post"
          action="{% url 'account_signup' %}">
          {% csrf_token %}
          <div class="center-inline-grid g-margin-b-30--xs g-margin-b-20--md" id="signup_form">
            {{ form }}
          </div>

          {% if redirect_field_value %}

          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

          {% endif %}
          <div class="g-margin-b-10--xs row checkbox">
            <label class="g-color--white-opacity">
                <span name="terms_and_conditions">By signing up, you agree to our <a
                    href="{% url 'terms' %}" class="hova">Terms &amp; Conditions
                </a></span>
            </label>
        </div>
          <button class="btn btn-outline-primary btn-lg" type="submit"><span
              class="g-color--white-opacity">{% trans "Sign Up" %}</span></button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}