{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="g-position--relative g-bg-color--primary">
    <div class="g-container--md g-padding-y-125--xs">

        <h3 class="g-font-size-32--xs g-font-size-36--md g-color--white" id="head_banner">{% trans "Verify Your E-mail Address" %}</h3>

        <p id="verification_sent_info">{% blocktrans %}We have sent an e-mail to you for verification. Follow the
            link
            provided to finalize the signup process. <br> Please contact us if you do not receive it within a few
            minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}