{% load static %}
<!--========== Blogs Rightbar Menu ==========-->

<div class="col-md-4 col-lg-3 p-b-80">
    <div class="side-menu">
        <div class="bor17 of-hidden pos-relative">
            <form action="{% url 'search' %}" method="GET">
                <input class="stext-103 cl5 plh4 size-116 p-l-28 p-r-55" type="text" name="q" value='{{ request.get.q }}'
                    placeholder="Search">

                <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </form>
        </div>

        <div class="p-t-50">
            <h4 class="mtext-112 cl0 p-b-27">
                Cocktail Categories
            </h4>

            <ul>
                {% if menu_cocktail_categories %}
                {% for category in menu_cocktail_categories %}
                <li class="bor18">
                    <a href="{% url 'category' category.slug %}"
                        class="dis-block stext-115 cl0 hov-cl1 trans-04 p-tb-8 p-lr-4">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="p-t-65">
            <h4 class="mtext-112 cl0 p-b-33">
                Top Rated Cocktails
            </h4>

            <ul>
                {% if cocktails %}
                {% for cocktail in cocktails %}
                <li class="flex-w flex-t p-b-30">
                    <a href="{% url 'cocktail' cocktail.slug %}"
                        class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                        <img class="blog-featured-images" src="{{ cocktail.cocktail_image.url }}"
                            alt="PRODUCT">
                    </a>

                    <div class="size-215 flex-col-t p-t-8">
                        <a href="{% url 'cocktail' cocktail.slug %}" class="stext-116 cl0 hov-cl1 trans-04">
                            {{ cocktail.name }}
                        </a>

                        <span class="stext-116 cl0 p-t-10">
                            <a href="{% url 'cocktail' cocktail.slug %}">{{ cocktail.block_quote }}</a>
                        </span>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                {% endif %}
            </ul>
        </div>

        <div class="p-t-55">
            <h4 class="mtext-112 cl0 p-b-33">
                Categories
            </h4>

            <ul>
                <li class="bor18">
                    <a href="{% url 'cocktails' %}"
                        class="dis-block stext-115 cl0 hov-cl1 trans-04 p-tb-8 p-lr-4">
                        Cocktail Recipes
                    </a>
                </li>
                {% if brunchs %}
                {% for brunch in brunchs %}
                <li class="bor18">
                    <a href="{% url 'category' brunch.slug %}"
                        class="dis-block stext-115 cl0 hov-cl1 trans-04 p-tb-8 p-lr-4">
                        Brunch Events
                    </a>
                </li>
                {% endfor %}
                {% else %}
                {% endif %}
                <li class="bor18">
                    <a href="{% url 'clubs' %}"
                        class="dis-block stext-115 cl0 hov-cl1 trans-04 p-tb-8 p-lr-4">
                        Night Clubs
                    </a>
                </li>

                <li class="bor18">
                    <a href="{% url 'genres' %}"
                        class="dis-block stext-115 cl0 hov-cl1 trans-04 p-tb-8 p-lr-4">
                        Event Genre
                    </a>
                </li>
            </ul>
        </div>

        <div class="p-t-50">
            <h4 class="mtext-112 cl0 p-b-27">
                Tags
            </h4>

            <div class="flex-w m-r--5">
                {% if categories %}
                {% for category in categories %}
                <a href="{% url 'category' category.slug %}"
                    class="flex-c-m stext-107 cl0 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                    {{ category.name }}
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>