{% load static %}
<!--========== FOOTER ==========-->
<footer class="g-bg-color--dark">
    <!-- Links -->
    <div class="g-hor-divider__dashed--white-opacity-lightest">
        <div class="container g-padding-y-40--xs">
            <div class="row">
                <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                    <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'index' %}">Home</a></li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'featured' %}">Explore</a>
                        </li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'events' %}">Upcoming
                                Event</a></li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'clubs' %}">Night
                                Clubs</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                    <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'about' %}">About</a></li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'contact' %}">Contact
                                Us</a>
                        </li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'faq' %}">FAQ's</a></li>

                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'terms' %}">Terms
                                &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                    <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                        <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'team' %}">Team</a></li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity"
                                href="https://twitter.com/NightPlanKenya" target="_blank">
                                <i class="g-padding-r-5--xs ti-twitter"></i>@nightplankenya</a></li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity"
                                href="https://www.facebook.com/Night-Plan-Kenya-117279949674095/" target="_blank">
                                <i class="g-padding-r-5--xs ti-facebook"></i>NightPlanKenya</a></li>
                        <li><a class="g-font-size-15--xs g-color--white-opacity"
                                href="https://www.instagram.com/nightplan_kenya/" target="_blank">
                                <i class="g-padding-r-5--xs ti-instagram"></i>NightPlan_Kenya</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 g-margin-b-0--xs g-margin-b-0--md">
                </div>
                <div
                    class="col-md-2 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-20--xs g-padding-y-0--md">
                    <!-- <h3 class="g-font-size-18--xs g-color--white">Night Plan Kenya</h3> -->
                    <p class="g-color--white-opacity">Night Plan Kenya is your ultimate nightlife guide. We connect you
                        to club events and latest happy hours.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Links -->
    <!-- Copyright -->
    <div class="container g-padding-y-10--xs">
        <div class="row">
            <div class="col-xs-6">
                <a href="{% url 'index' %}">
                    <img class="g-width-100--xs g-height-auto--xs" src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/NIGHTPLANKE.png"
                        alt="NightPlanKenya">
                </a>
            </div>
            <div class="col-xs-6 g-text-right--xs g-padding-y-20--xs">
                <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a
                        href="{% url 'index' %}">Night Plan Kenya</a>
                    &copy; 2019 &nbsp; &#124; All rights reserved</a></p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->