{% extends 'base.html' %}
{% block title %} - About Us | Discover Club Events and Gigs in Kenya {% endblock %}
{% load static %}
{% block content %}

<!--========== TITLE BLOCK ==========-->
<!-- Slider Section -->
<section class="section-slide">
    <div class="wrap-slick1 rs1-slick1">
        <div class="slick1">
            <div class="item-slick1"
                style="background-image: url('https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/banner.jpg');">
                <div class="container h-full">
                    <div class="h-full p-t-200 p-b-30 text-center">
                        <div class="layer-slick1 animated visible-false text-center" data-appear="fadeInUp"
                            data-delay="800">
                            <h2 class="ltext-104 cl0 p-b-43 respon1">
                                We Make Going Out Easy
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-204 cl0 respon2">
                                Night Plan Kenya is your ultimate nightlife guide. We connect you to club events and
                                latest happy hours.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========== END TITLE BLOCK ==========-->

<!--========== PAGE CONTENT ==========-->
<!-- About -->
<section class="bg1 p-t-75 p-b-30">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <p class="mtext-110 cl0 p-b-26">
                        Life is too short for bad nights. We are a website curated to improve the way you experience the
                        night scene by connecting you to nightclubs from all around kenya.
                        We help you discover club events, club locations and clubs near you.This information is aimed at
                        enabling you find events best suited to your desire so as to be able to enjoy a night out with
                        your friends.
                    </p>

                    <!-- <div class="bor20 p-l-29 p-b-9 m-t-22">
                        <span class="mtext-101 cl13">
                            - Home Page
                        </span>
                        <p class="stext-114 cl0 p-r-40 p-b-11">
                            Select a tab to browse events.
                        </p>
                    </div> -->
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0 bg7">
                        <img src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/Night+Plan+Kenya+Logo.png"
                            alt="IMG" class="about-logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Advertisement-->
<div class="sec-banner bg7 p-t-30 p-b-15">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-4 p-b-30 m-lr-auto">
            </div>

            <div class="col-md-8 col-xl-4 p-b-30 m-lr-auto">
                <div class="block1 wrap-pic-w">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Ad Banner 1 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4430010625096915"
                        data-ad-slot="7399172120" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

            <div class="col-md-4 col-xl-4 p-b-30 m-lr-auto">
            </div>
        </div>
    </div>
</div>
<!-- End Process -->
{% endblock %}