{% extends 'base.html' %}
{% block title %} - Discover Club Events in Kenya {% endblock %}
{% load static %}
{% block content %}

<!-- SECTION -->
<!-- Cocktails Recipes Section -->
<section class="section bg7">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div id="hot-post" class="row hot-post body-paddy">
            <div class="col-md-8 hot-post-left">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="{% url 'cocktails' %}"><img
                            src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/kyryll-ushakov.jpg"
                            alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="{% url 'cocktails' %}">Recipes</a>
                        </div>
                        <h3 class="post-title title-lg"><a href="{% url 'cocktails' %}">Cocktails & Drinks Recipes</a>
                        </h3>
                        <ul class="post-meta">
                            <li><a href="{% url 'cocktails' %}">View Collection</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4 hot-post-right">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="{% url 'blogs' %}"><img class="resize"
                            src="https://images.unsplash.com/photo-1559443922-3f698a0ff27a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=369&q=80"
                            alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Blogs</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Cocktail blog posts</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">Read More</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-thumb">
                    {% if brunchs %}
                    {% for brunch in brunchs %}
                    <a class="post-img" href="{% url 'category' brunch.slug %}"><img
                            src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/edward-franklin.jpg"
                            alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="{% url 'category' brunch.slug %}">Brunch</a>
                            <a href="{% url 'events' %}">Events</a>
                        </div>
                        <h3 class="post-title"><a href="{% url 'category' brunch.slug %}">Brunch Events in Nairobi</a>
                        </h3>
                        <ul class="post-meta">
                            <li><a href="{% url 'category' brunch.slug %}">Explore</a></li>
                        </ul>
                    </div>
                    {% endfor %}
                    {% else %}
                    <a class="post-img" href="{% url 'events' %}"><img
                            src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/edward-franklin.jpg"
                            alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="{% url 'events' %}">Events</a>
                            <a href="{% url 'events' %}">Events</a>
                        </div>
                        <h3 class="post-title"><a href="{% url 'events' %}">Events</a></h3>
                        <ul class="post-meta">
                            <li><a href="{% url 'events' %}">Explore</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <!-- /post -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /SECTION -->
<!--========== END PROMO BLOCK ==========-->

<!--========== MAIN CONTENT ==========-->
<!-- Cocktails Recipes Section -->
<section class="bg7 p-t-23 p-b-15 grab">
    <div class="container">
        <!-- Filter Section -->
        <div class="flex-w flex-sb-m">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <h3 class="ltext-103 cl0">
                    Cocktails Recipes
                </h3>
            </div>
        </div>

        <!-- Tab01 -->
        <!-- Tab panes -->
        <div class="tab-content p-t-15">
            <div class="tab01">
                <div class="flex-w flex-sb-m p-t-10 p-b-5">
                    <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                        <button class="ltext-101 cl0 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            Editor's Pick
                        </button>
                    </div>

                    {% if editors %}
                    {% for cocktails in editors %}
                    <div class="flex-w flex-c-m m-tb-10">
                        <div class="flex-c-m stext-106 cl0 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4">
                            <a href="{% url 'cocktailCategory' cocktails.slug %}" class="cl0">
                                View All
                                <i class="icon-search cl0 m-l-6 fs-15 trans-04 zmdi zmdi-chevron-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
                <!-- Nightclubs - -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if editor %}
                            {% for cocktail in editor %}
                            <div class="item-slick2 p-l-5 p-r-5 p-t-15">
                                <div class="blog-item">
                                    <div class="hov-img0">
                                        <a href="{% url 'cocktail' cocktail.slug %}">
                                            <img src="{{ cocktail.cocktail_image.url }}" alt="IMG-BLOG">
                                        </a>
                                    </div>

                                    <div class="p-t-15">
                                        <h4 class="p-b-12">
                                            <a href="{% url 'cocktail' cocktail.slug %}"
                                                class="mtext-101 cl0 hov-cl1 trans-04">
                                                {{ cocktail.name }}
                                            </a>
                                        </h4>

                                        <p class="stext-108 cl0">
                                            {{ cocktail.block_quote }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 item-l-5 item-r-5 p-t-15 p-b-15">
                                <!-- Block1 -->
                                <div class="block1 wrap-pic-w">
                                    <img class="explore"
                                        src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/kyryll.jpg"
                                        alt="IMG-BANNER">
                                    <a href="#"
                                        class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                                        <div class="block1-txt-child1 flex-col-l">
                                            <span class="block1-name ltext-102 trans-04 p-b-8 g-color--white">
                                                No Cocktail Available
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab01 -->
            <!-- Happy Hours -->
            <div class="tab02 p-t-15" id="happyHour">
                <!-- Beer & Wine -->
                <div class="tab-content p-t-15">
                    <div class="flex-w flex-sb-m p-t-10 p-b-5">
                        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                            <button class="ltext-101 cl0 hov1 bor3 trans-04 m-r-32 m-tb-5">
                                Beer & Wine
                            </button>
                        </div>

                        {% if beers %}
                        {% for cocktails in beers %}
                        <div class="flex-w flex-c-m m-tb-10">
                            <div class="flex-c-m stext-106 cl0 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4">
                                <a href="{% url 'cocktailCategory' cocktails.slug %}" class="cl0">
                                    View All
                                    <i class="icon-search cl0 m-l-6 fs-15 trans-04 zmdi zmdi-chevron-right"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                    <!-- Sliding Tab Panes -->
                    <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                        <!-- Slide2 -->
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if beer_wine %}
                                {% for cocktail in beer_wine %}
                                <div class="item-slick2 p-l-5 p-r-5 p-t-15">
                                    <div class="blog-item">
                                        <div class="hov-img0">
                                            <a href="{% url 'cocktail' cocktail.slug %}">
                                                <img src="{{ cocktail.cocktail_image.url }}" alt="IMG-BLOG">
                                            </a>
                                        </div>

                                        <div class="p-t-15">
                                            <h4 class="p-b-12">
                                                <a href="{% url 'cocktail' cocktail.slug %}"
                                                    class="mtext-101 cl0 hov-cl1 trans-04">
                                                    {{ cocktail.name }}
                                                </a>
                                            </h4>

                                            <p class="stext-108 cl0">
                                                {{ cocktail.block_quote }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="item-slick2 item-l-5 item-r-5 p-t-15 p-b-15">
                                    <!-- Block1 -->
                                    <div class="block1 wrap-pic-w">
                                        <img class="explore"
                                            src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/kyryll.jpg"
                                            alt="IMG-BANNER">
                                        <a href="#"
                                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                                            <div class="block1-txt-child1 flex-col-l">
                                                <span class="block1-name ltext-102 trans-04 p-b-8 g-color--white">
                                                    No Cocktail Available
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab02 -->
            <!-- Tonight -->
            <div class="tab02 p-t-15" id="tonight">
                <!-- Tab panes -->
                <div class="tab-content p-t-15">
                    <div class="flex-w flex-sb-m p-t-10 p-b-5">
                        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                            <button class="ltext-101 cl0 hov1 bor3 trans-04 m-r-32 m-tb-5">
                                Cocktails by Flavor
                            </button>
                        </div>

                        {% if flavors %}
                        {% for cocktails in flavors %}
                        <div class="flex-w flex-c-m m-tb-10">
                            <div class="flex-c-m stext-106 cl0 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4">
                                <a href="{% url 'cocktailCategory' cocktails.slug %}" class="cl0">
                                    View All
                                    <i class="icon-search cl0 m-l-6 fs-15 trans-04 zmdi zmdi-chevron-right"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                    <!-- Sliding Tab Panes -->
                    <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                        <!-- Slide2 -->
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if flavor %}
                                {% for cocktail in flavor %}
                                <div class="item-slick2 p-l-5 p-r-5 p-t-15">
                                    <div class="blog-item">
                                        <div class="hov-img0">
                                            <a href="{% url 'cocktail' cocktail.slug %}">
                                                <img src="{{ cocktail.cocktail_image.url }}" alt="IMG-BLOG">
                                            </a>
                                        </div>

                                        <div class="p-t-15">
                                            <h4 class="p-b-12">
                                                <a href="{% url 'cocktail' cocktail.slug %}"
                                                    class="mtext-101 cl0 hov-cl1 trans-04">
                                                    {{ cocktail.name }}
                                                </a>
                                            </h4>

                                            <p class="stext-108 cl0">
                                                {{ cocktail.block_quote }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="item-slick2 item-l-5 item-r-5 p-t-15 p-b-15">
                                    <!-- Block1 -->
                                    <div class="block1 wrap-pic-w">
                                        <img class="explore"
                                            src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/kyryll.jpg"
                                            alt="IMG-BANNER">
                                        <a href="#"
                                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                                            <div class="block1-txt-child1 flex-col-l">
                                                <span class="block1-name ltext-102 trans-04 p-b-8 g-color--white">
                                                    No Cocktail Available
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab03 -->
            <!-- This Weekend -->
            <div class="tab02 p-t-15" id="weekend">
                <!-- Tab panes -->
                <div class="tab-content p-t-15">
                    <div class="flex-w flex-sb-m p-t-10 p-b-5">
                        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                            <button class="ltext-101 cl0 hov1 bor3 trans-04 m-r-32 m-tb-5">
                                Best-Selling Classic Cocktails
                            </button>
                        </div>

                        {% if classic_cocktails %}
                        {% for cocktails in classic_cocktails %}
                        <div class="flex-w flex-c-m m-tb-10">
                            <div class="flex-c-m stext-106 cl0 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4">
                                <a href="{% url 'cocktailCategory' cocktails.slug %}" class="cl0">
                                    View All
                                    <i class="icon-search cl0 m-l-6 fs-15 trans-04 zmdi zmdi-chevron-right"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                    <!-- Sliding Tab Panes -->
                    <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                        <!-- Slide2 -->
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if classics %}
                                {% for cocktail in classics %}
                                <div class="item-slick2 p-l-5 p-r-5 p-t-15">
                                    <div class="blog-item">
                                        <div class="hov-img0">
                                            <a href="{% url 'cocktail' cocktail.slug %}">
                                                <img src="{{ cocktail.cocktail_image.url }}" alt="IMG-BLOG">
                                            </a>
                                        </div>

                                        <div class="p-t-15">
                                            <h4 class="p-b-12">
                                                <a href="{% url 'cocktail' cocktail.slug %}"
                                                    class="mtext-101 cl0 hov-cl1 trans-04">
                                                    {{ cocktail.name }}
                                                </a>
                                            </h4>

                                            <p class="stext-108 cl0">
                                                {{ cocktail.block_quote }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="item-slick2 item-l-5 item-r-5 p-t-15 p-b-15">
                                    <!-- Block1 -->
                                    <div class="block1 wrap-pic-w">
                                        <img class="explore"
                                            src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/kyryll.jpg"
                                            alt="IMG-BANNER">
                                        <a href="#"
                                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                                            <div class="block1-txt-child1 flex-col-l">
                                                <span class="block1-name ltext-102 trans-04 p-b-8 g-color--white">
                                                    No Cocktail Available
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tab04 -->
            <!-- Trending -->
            <div class="tab02 p-t-15" id="trending">
                <!-- Tab panes -->
                <div class="tab-content p-t-15">
                    <div class="flex-w flex-sb-m p-t-10 p-b-5">
                        {% if brunchs %}
                        {% for brunch in brunchs %}
                        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                            <button class="ltext-101 cl0 hov1 bor3 trans-04 m-r-32 m-tb-5">
                                Brunch Events
                            </button>
                        </div>

                        <div class="flex-w flex-c-m m-tb-10">
                            <div class="flex-c-m stext-106 cl0 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4">
                                <a href="{% url 'category' brunch.slug %}" class="cl0">
                                    View All
                                    <i class="icon-search cl0 m-l-6 fs-15 trans-04 zmdi zmdi-chevron-right"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                    <!-- <span class="ltext-101 cl0"> Brunch </span> -->
                    <!-- - -->
                    <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                        <!-- Slide2 -->
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if trending %}
                                {% for event in trending %}
                                <div class="item-slick2 p-l-5 p-r-5 p-t-15">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <a href="{% url 'event' event.slug %}">
                                                <img src="{{ event.event_image.url }}" class="image-fluid"
                                                    alt="IMG-PRODUCT"></a>
                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="{% url 'event' event.slug %}"
                                                    class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    {{ event.title }}
                                                </a>
                                                <span class="stext-105 cl0">
                                                    {{ event.event_date }} - {{ event.event_end_date }}
                                                </span>
                                                <span class="stext-105 cl0">
                                                    {{ event.venue }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="item-slick2 p-l-5 p-r-5 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <a href="{% url 'event' event.slug %}">
                                                <img src="{{ event.event_image.url }}" alt="IMG-PRODUCT"></a>
                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="{% url 'event' event.slug %}"
                                                    class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    {{ event.title }}
                                                </a>
                                                <span class="stext-105 cl0">
                                                    {{ event.event_date }} - {{ event.event_end_date }}
                                                </span>
                                                <span class="stext-105 cl0">
                                                    {{ event.venue }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- Blog -->
<section class="sec-blog bg7 p-t-15 p-b-99">
    <div class="container">
        <div class="container">
            <div class="p-b-15 txt-center respon1">
                <h3 class="ltext-102 cl0">
                    Latest Posts
                </h3>
            </div>
            <div class="flex-w flex-sb-m p-t-5 p-b-5">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <button class="ltext-101 cl0 hov1 bor3 trans-04 m-r-32 m-tb-5">
                        Editor's Pick
                    </button>
                </div>

                <div class="flex-w flex-c-m m-tb-10">
                    <div class="flex-c-m stext-106 cl0 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4">
                        <a href="{% url 'blogs' %}" class="cl0">
                            View All
                            <i class="icon-search cl0 m-l-6 fs-15 trans-04 zmdi zmdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% if posts %}
            {% for blog in posts %}
            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="{% url 'blog' blog.slug %}">
                            <img src="{{ blog.blog_image.url }}" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
                            <span class="m-r-3">
                                <span class="cl0">
                                    By
                                </span>

                                <span class="cl0">
                                    {{ blog.blog_author }}
                                </span>
                            </span>

                            <span>
                                <span class="cl0">
                                    on
                                </span>

                                <span class="cl0">
                                    {{ blog.updated_at }}
                                </span>
                            </span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="blog-detail.html" class="mtext-101 cl0 hov-cl1 trans-04">
                                {{ blog.title }}
                            </a>
                        </h4>

                        <p class="stext-108 cl0">
                            {{ blog.short_description }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="item-slick2 item-l-5 item-r-5 p-t-15 p-b-15">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img class="explore"
                        src="https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/cocktails/kyryll.jpg"
                        alt="IMG-BANNER">
                    <a href="#" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8 g-color--white">
                                No Blog Available
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- End Explore Section -->
<!--========== END MAIN CONTENT ==========-->
{% endblock %}