{% extends 'base.html' %}
{% block title %} | Discover Club Events and Gigs in Kenya {% endblock %}
{% load static %}
{% block content %}
<!--========== PROMO BLOCK ==========-->
<!-- <section class="s-video-v2__bg"
        data-vidbg-bg="mp4: include/media/mp4_video.mp4, webm: include/media/webm_video.webm, poster: include/media/fallback.jpg"
        data-vidbg-options="loop: true, muted: true, overlay: false">
        <div class="container g-position--overlay g-text-center--xs">
            <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-250--md">
                <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">More Than a Look,
                </h1>
                <h2 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">Design is
                    Functional.</h2>
            </div>
        </div>
    </section> -->
<!--========== END PROMO BLOCK ==========-->
<!--========== PROMO BLOCK ==========-->
<div class="s-promo-block-v3 g-bg-position--center g-fullheight--sm"
    style="background: url('https://nightplankenya-static-media.s3.us-east-2.amazonaws.com/static/nightplankenya-bar-black.webp');">
    <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">
        <div class="g-margin-t-30--xs g-margin-t-0--sm g-margin-b-30--xs g-margin-b-50--md">
            <h1 class="g-font-size-35--xs g-font-size-45--sm g-font-size-50--lg g-color--white">We Make Going<br>Out
                Easy.</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-push-4 g-margin-b-30--xs g-margin-b-30--md">
            </div>
            <div class="col-sm-4 col-sm-pull-8 g-margin-b-30--xs g-margin-b-30--md">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                    <p class="g-font-size-18--xs g-color--white">Night Plan Kenya is your ultimate nightlife guide. We
                        connect you to club events and latest happy hours.</p>
                </div>
            </div>
        </div>
        <div class="batons">
            <span
                class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                <a href="{% url 'featured' %}"
                    class="text-uppercase s-btn s-btn-icon--md s-btn--primary-bg g-radius--50 g-padding-x-45--xs">
                    Explore</a>
            </span>
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->

<!--========== PAGE CONTENT ==========-->
<!-- Trending Section -->
<!-- <d class="container g-padding-y-80--xs g-padding-y-125--sm"> -->
<!-- Product -->
<section class="sec-product bg0 p-t-50 p-b-50 g-bg-color--dark-light">
    <div class="container resize-content">
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        <div class="p-b-32">
            <h3 class="ltext-103 cl0 txt-center respon1">
                Explore Events
            </h3>
        </div>

        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs togling and rendering selected data -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-b-10">
                    <a class="nav-link active" data-toggle="tab" href="#clubs" role="tab">
                        Night Clubs</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#happyHour" role="tab">Happy Hours</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#trending" role="tab">Trending</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#featured" role="tab">Featured</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#tonight" role="tab">Tonight</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#weekend" role="tab">This Weekend</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-50">
                <!-- Night Clubs section -->
                <div class="tab-pane fade show active" id="clubs" role="tabpanel">
                    <!-- Featured Slide2 -->
                    <div class="p-b-32">
                        <span class="ltext-109 cl0 txt-center respon2">
                            Night Clubs
                        </span>
                        <span class="ltext-109 cl0 g-pull-right--xs respon2">
                            <a href="{% url 'clubs' %}">
                                View All <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
                        </span>
                    </div>
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if clubs %}
                            {% for club in clubs %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block1 -->
                                <div class="block1 wrap-pic-w">
                                    <div class="wrapper">
                                    <img class="explore" src="{{ club.club_image.url }}" alt="IMG-BANNER"></div>
                                    <a href="{% url 'club' club.slug %}"
                                        class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                                        <div class="block1-txt-child1 flex-col-l">
                                            <span class="block1-name ltext-102 trans-04 p-b-8 g-color--white">
                                                {{ club.name }}
                                            </span>
                                        </div>
                                        <div class="block1-txt-child2 p-b-4 trans-05">
                                            <div class="block1-link stext-101 cl0 trans-09">
                                                Explore {{ club.name }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block1 -->
                                <div class="block1 wrap-pic-w">
                                    <img class="explore" src="img/cover/etana.png" alt="IMG-BANNER">
                                    <a href="{% url 'category' category.id %}"
                                        class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                                        <div class="block1-txt-child1 flex-col-l">
                                            <span class="block1-name ltext-102 trans-04 p-b-8 g-color--white">
                                                Club
                                            </span>
                                        </div>
                                        <div class="block1-txt-child2 p-b-4 trans-05">
                                            <div class="block1-link stext-101 cl0 trans-09">
                                                Explore Club
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- - -->
                <!-- Featured section -->
                <div class="tab-pane fade" id="featured" role="tabpanel">
                    <!-- Featured Slide2 -->
                    <div class="p-b-32">
                        <span class="ltext-109 cl0 txt-center respon2">
                            Featured
                        </span>
                    </div>
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if featured %}
                            {% for event in featured %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <a href="{% url 'event' event.slug %}">
                                            <img src="{{ event.event_image.url }}" class="image-fluid"
                                                alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                {{ event.title }}
                                            </a>
                                            <span class="stext-105 cl12">
                                                {{ event.event_date }} - {{ event.event_end_date }}
                                            </span>
                                            <span class="stext-105 cl12">
                                                {{ event.venue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <a href="{% url 'event' cover.slug %}">
                                            <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                Event Details
                                            </a>
                                            <span class="stext-105 cl12">
                                                Event Date
                                            </span>
                                            <span class="stext-105 cl12">
                                                Event Venue
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- - -->
                <!-- Trending section -->
                <div class="tab-pane fade" id="trending" role="tabpanel">
                    <!-- Featured Slide2 -->
                    <div class="p-b-32">
                        <span class="ltext-109 cl0 txt-center respon2">
                            Trending
                        </span>
                    </div>
                    <!-- Trending Slide1 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if trending %}
                            {% for event in trending %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">

                                        <a href="{% url 'event' event.slug %}">
                                            <img src="{{ event.event_image.url }}" class="image-fluid"
                                                alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                {{ event.title }}
                                            </a>

                                            <span class="stext-105 cl12">
                                                {{ event.event_date }} - {{ event.event_end_date }}
                                            </span>

                                            <span class="stext-105 cl12">
                                                {{ event.venue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">

                                        <a href="{% url 'event' cover.slug %}">
                                            <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                        </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' cover.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                Event Details
                                            </a>

                                            <span class="stext-105 cl12">
                                                Event Date
                                            </span>

                                            <span class="stext-105 cl12">
                                                Event Venue
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- - -->
                <div class="tab-pane fade" id="tonight" role="tabpanel">
                    <!-- Tonight Slide3 -->
                    <div class="p-b-32">
                        <span class="ltext-109 cl0 txt-center respon2">
                            Tonight
                        </span>
                    </div>
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if tonight %}
                            {% for event in tonight %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">

                                        <a href="{% url 'event' event.slug %}">
                                            <img src="{{ event.event_image.url }}" class="image-fluid"
                                                alt="IMG-PRODUCT">
                                        </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                {{ event.title }}
                                            </a>

                                            <span class="stext-105 cl12">
                                                {{ event.event_date }} - {{ event.event_end_date }}
                                            </span>

                                            <span class="stext-105 cl12">
                                                {{ event.venue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">

                                        <a href="{% url 'event' cover.slug %}">
                                            <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                        </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                Event Details
                                            </a>

                                            <span class="stext-105 cl12">
                                                Event Date
                                            </span>

                                            <span class="stext-105 cl12">
                                                Event Venue
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- - -->
                <div class="tab-pane fade" id="weekend" role="tabpanel">
                    <!-- This Weekend Slide4 -->
                    <div class="p-b-32">
                        <span class="ltext-109 cl0 txt-center respon2">
                            This Weekend
                        </span>
                    </div>
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if weekend %}
                            {% for event in weekend %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">

                                        <a href="{% url 'event' event.slug %}">
                                            <img src="{{ event.event_image.url }}" class="image-fluid"
                                                alt="IMG-PRODUCT">
                                        </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                {{ event.title }}
                                            </a>

                                            <span class="stext-105 cl12">
                                                {{ event.event_date }} - {{ event.event_end_date }}
                                            </span>

                                            <span class="stext-105 cl12">
                                                {{ event.venue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">

                                        <a href="{% url 'event' cover.slug %}">
                                            <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                        </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                Event Details
                                            </a>

                                            <span class="stext-105 cl12">
                                                Event Date
                                            </span>

                                            <span class="stext-105 cl12">
                                                Event Venue
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- - -->
                <div class="tab-pane fade" id="happyHour" role="tabpanel">
                    <!-- Tonight Slide3 -->
                    <div class="p-b-32">
                        <span class="ltext-109 cl0 txt-center respon2">
                            Happy Hours
                        </span>
                    </div>
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if happy_hour %}
                            {% for event in happy_hour %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <a href="{% url 'event' event.slug %}">
                                            <img src="{{ event.event_image.url }}" class="image-fluid"
                                                alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                {{ event.title }}
                                            </a>
                                            <span class="stext-105 cl12">
                                                {{ event.event_date }} - {{ event.event_end_date }}
                                            </span>
                                            <span class="stext-105 cl12">
                                                {{ event.venue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <a href="{% url 'event' cover.slug %}">
                                            <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="flex-col-l ">
                                            <a href="{% url 'event' cover.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                No Event Available
                                            </a>
                                            <span class="stext-105 cl12">
                                                No Event Available
                                            </span>
                                            <span class="stext-105 cl12">
                                                No Event Available
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- - -->
            </div>
            <div class="container row-on-mobile -gutter-compensation">
                <div class="g-text-center--xs g-margin-t-20--xs">
                    <span
                        class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                        <a href="{% url 'featured' %}"
                            class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50">
                            Explore</a>
                        <!-- <a href="{% url 'featured' %}" class="btn btn-xlrg btn-transparent"
                    data-remodal-target="header-city-search">
                    Upcoming Events</a> -->
                    </span>
                    <span
                        class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                        <a href="{% url 'events' %}"
                            class="text-uppercase s-btn s-btn-icon--md s-btn--primary-bg g-radius--50 g-padding-x-45--xs">
                            Upcoming</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</div>
<!-- End Trending Section -->

<!-- Masonry -->

<!-- End Google Map -->

<!-- Masonry -->

<!-- End Google Map -->
<!--========== END PAGE CONTENT ==========-->
{% endblock %}