#header{
    background: #222324;
    box-shadow: 0 0 0.9375rem 0 rgba(34, 35, 36, 0.05);
    color: #fff;
}

#branding h1 {

    color: #c54041;
}
/* BREADCRUMBS */

div.breadcrumbs {
    background: #c54041;
    color: #fff !important;
}

div.breadcrumbs a {
    color: #222324 !important;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8 !important;
}

.module h2, .module caption, .inline-group h2 {
    background: #c54041;
}