{% extends 'admin/base.html' %}
{% block title %} NightPlanKenya Admin Section | Discover Club Events and Gigs in Kenya {% endblock %}
{% load static %}

{% block branding %}
    <h1 id="head">
        <!-- <img class="s-header__logo-img s-header__logo-img-default auto_shrink"
            src="{% static 'img/logo/logo-white.png' %}" alt="NightPlanKenyaLogo" 
            height="" width="10%">  -->
            NightPlanKenya Admin Area
    </h1>
{% endblock branding %}

{% block extrastyle %}
    <link href="{% static 'css/admin.css' %}" rel="stylesheet" type="text/css" />
{% endblock extrastyle %}