{% extends 'base.html' %}
{% block title %} - User Dashboard | Discover Club Events and Gigs in Kenya {% endblock %}
{% load static %}
{% block content %}
    <!--========== PROMO BLOCK ==========-->
    <!-- <section class="s-video-v2__bg"
        data-vidbg-bg="mp4: include/media/mp4_video.mp4, webm: include/media/webm_video.webm, poster: include/media/fallback.jpg"
        data-vidbg-options="loop: true, muted: true, overlay: false">
        <div class="container g-position--overlay g-text-center--xs">
            <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-250--md">
                <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">More Than a Look,
                </h1>
                <h2 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">Design is
                    Functional.</h2>
            </div>
        </div>
    </section> -->
    <!--========== END PROMO BLOCK ==========-->
    <!--========== PROMO BLOCK ==========-->
    <div class="s-promo-block-v3 g-bg-position--center g-fullheight--sm" style="background: url('../static/img/drink.jpg');">
        <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">
            <div class="g-margin-t-30--xs g-margin-t-0--sm g-margin-b-30--xs g-margin-b-50--md">
                <h1 class="g-font-size-35--xs g-font-size-45--sm g-font-size-50--lg g-color--white">We Make Going<br>Out
                    Easy.</h1>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-push-4 g-margin-b-30--xs g-margin-b-30--md">
                </div>
                <div class="col-sm-4 col-sm-pull-8 g-margin-b-30--xs g-margin-b-30--md">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                        <p class="g-font-size-18--xs g-color--white">Find experiences curated just for
                            you. Night Plan connects you with the latest happy hours, drink specials,
                            concerts, and events.</p>
                    </div>
                </div>
            </div>
            <div class="batons">
                <span
                    class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="{% url 'login' %}"
                        class="text-uppercase s-btn s-btn-icon--md s-btn--primary-bg g-radius--50 g-padding-x-45--xs">Get
                        Started</a>
                </span>
                <span
                    class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="{% url 'featured' %}"
                        class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-45--xs">Explore</a>
                    <!-- <a href="{% url 'featured' %}" class="btn btn-xlrg btn-transparent"
                        data-remodal-target="header-city-search">Explore
                        Cities</a> -->
                </span>
            </div>
        </div>
    </div>
    <!--========== END PROMO BLOCK ==========-->

    <!--========== PAGE CONTENT ==========-->
    <!-- Trending Section -->
    <!-- <d class="container g-padding-y-80--xs g-padding-y-125--sm"> -->
    <!-- <div class="g-text-center--xs g-margin-b-60--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">
                Trending</p>
        </div> -->
    <!-- Product -->
    <section class="sec-product bg0 p-t-50 p-b-50 g-bg-color--dark-light">
        <div class="container resize-content">
                <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <div class="p-b-32">
                <h3 class="ltext-103 cl0 txt-center respon1">
                    Trending
                </h3>
            </div>

            <!-- Tab01 -->
            <div class="tab01">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" data-toggle="tab" href="#trending" role="tab">
                            Trending</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#nairobi" role="tab">Featured</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#mombasa" role="tab">Tonight</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#malindi" role="tab">This Weekend</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-t-50">
                    <!-- - -->
                    <div class="tab-pane fade show active" id="trending" role="tabpanel">
                        <!-- Trending Slide1 -->
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if trending %}
                                    {% for event in trending %}
                                        <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                            <!-- Block2 -->
                                            <div class="block2">
                                                <div class="block2-pic hov-img0">

                                                    <a href="{% url 'event' event.slug %}">
                                                        <img src="{{ event.event_image.url }}" class="image-fluid" alt="IMG-PRODUCT">
                                                    </a>
                                                </div>

                                                <div class="block2-txt flex-w flex-t p-t-14">
                                                    <div class="flex-col-l ">
                                                        <a href="{% url 'event' event.slug %}"
                                                            class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                            {{ event.title }}
                                                        </a>

                                                        <span class="stext-105 cl9">
                                                            {{ event.event_date }} - {{ event.event_end_date}}
                                                        </span>

                                                        <span class="stext-105 cl9">
                                                            {{ event.venue }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                        <!-- Block2 -->
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">

                                                <a href="{% url 'event' cover.slug %}">
                                                    <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                                </a>
                                            </div>

                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="flex-col-l ">
                                                    <a href="{% url 'event' cover.slug %}"
                                                        class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        Home Grown Mejja @ Machakos Stadium
                                                    </a>

                                                    <span class="stext-105 cl9">
                                                        Sat, Apr 3, 10:00 PM-02:00 AM
                                                    </span>

                                                    <span class="stext-105 cl9">
                                                        Machakos Sta
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- - -->
                    <div class="tab-pane fade" id="nairobi" role="tabpanel">
                        <!-- Featured Slide2 -->
                        <div class="p-b-32">
                            <span class="stext-101 cl0 txt-center respon1">
                                Featured - Section
                            </span>
                        </div>
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if featured %}
                                    {% for event in featured %}
                                        <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                            <!-- Block2 -->
                                            <div class="block2">
                                                <div class="block2-pic hov-img0">

                                                    <a href="{% url 'event' event.slug %}">
                                                        <img src="{{ event.event_image.url }}" class="image-fluid" alt="IMG-PRODUCT">
                                                    </a>
                                                </div>

                                                <div class="block2-txt flex-w flex-t p-t-14">
                                                    <div class="flex-col-l ">
                                                        <a href="{% url 'event' event.slug %}"
                                                            class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                            {{ event.title }}
                                                        </a>

                                                        <span class="stext-105 cl9">
                                                            {{ event.event_date }} - {{ event.event_end_date}}
                                                        </span>

                                                        <span class="stext-105 cl9">
                                                            {{ event.venue }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                        <!-- Block2 -->
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">

                                                <a href="{% url 'event' cover.slug %}">
                                                    <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                                </a>
                                            </div>

                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="flex-col-l ">
                                                    <a href="{% url 'event' event.slug %}"
                                                        class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        Home Grown Mejja @ Machakos Stadium
                                                    </a>

                                                    <span class="stext-105 cl9">
                                                        Sat, Apr 3, 10:00 PM-02:00 AM
                                                    </span>

                                                    <span class="stext-105 cl9">
                                                        Machakos Sta
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- - -->
                    <div class="tab-pane fade" id="mombasa" role="tabpanel">
                        <!-- Tonight Slide3 -->
                        <div class="p-b-32">
                            <span class="stext-101 cl0 txt-center respon1">
                                Tonight - Section
                            </span>
                        </div>
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if featured %}
                                    {% for event in featured %}
                                        <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                            <!-- Block2 -->
                                            <div class="block2">
                                                <div class="block2-pic hov-img0">

                                                    <a href="{% url 'event' event.slug %}">
                                                        <img src="{{ event.event_image.url }}" class="image-fluid" alt="IMG-PRODUCT">
                                                    </a>
                                                </div>

                                                <div class="block2-txt flex-w flex-t p-t-14">
                                                    <div class="flex-col-l ">
                                                        <a href="{% url 'event' event.slug %}"
                                                            class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                            {{ event.title }}
                                                        </a>

                                                        <span class="stext-105 cl9">
                                                            {{ event.event_date }} - {{ event.event_end_date}}
                                                        </span>

                                                        <span class="stext-105 cl9">
                                                            {{ event.venue }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                        <!-- Block2 -->
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">

                                                <a href="{% url 'event' cover.slug %}">
                                                    <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                                </a>
                                            </div>

                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="flex-col-l ">
                                                    <a href="{% url 'event' event.slug %}"
                                                        class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        Home Grown Mejja @ Machakos Stadium
                                                    </a>

                                                    <span class="stext-105 cl9">
                                                        Sat, Apr 3, 10:00 PM-02:00 AM
                                                    </span>

                                                    <span class="stext-105 cl9">
                                                        Machakos Sta
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- - -->
                    <div class="tab-pane fade" id="malindi" role="tabpanel">
                        <!-- This Weekend Slide4 -->
                        <div class="p-b-32">
                            <span class="stext-101 cl0 txt-center respon1">
                                This Weekend - Section
                            </span>
                        </div>
                        <div class="wrap-slick2">
                            <div class="slick2">
                                {% if featured %}
                                    {% for event in featured %}
                                        <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                            <!-- Block2 -->
                                            <div class="block2">
                                                <div class="block2-pic hov-img0">
    
                                                    <a href="{% url 'event' event.slug %}">
                                                        <img src="{{ event.event_image.url }}" class="image-fluid" alt="IMG-PRODUCT">
                                                    </a>
                                                </div>
    
                                                <div class="block2-txt flex-w flex-t p-t-14">
                                                    <div class="flex-col-l ">
                                                        <a href="{% url 'event' event.slug %}"
                                                            class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                            {{ event.title }}
                                                        </a>
    
                                                        <span class="stext-105 cl9">
                                                            {{ event.event_date }} - {{ event.event_end_date}}
                                                        </span>
    
                                                        <span class="stext-105 cl9">
                                                            {{ event.venue }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
    
                                {% else %}
                                    <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                                        <!-- Block2 -->
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">
    
                                                <a href="{% url 'event' cover.slug %}">
                                                    <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                                </a>
                                            </div>
    
                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="flex-col-l ">
                                                    <a href="{% url 'event' event.slug %}"
                                                        class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        Home Grown Mejja @ Machakos Stadium
                                                    </a>
    
                                                    <span class="stext-105 cl9">
                                                        Sat, Apr 3, 10:00 PM-02:00 AM
                                                    </span>
    
                                                    <span class="stext-105 cl9">
                                                        Machakos Sta
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    </div>
    <!-- End Trending Section -->

    <!-- Masonry -->

    <!-- End Google Map -->

    <!-- Masonry -->

    <!-- End Google Map -->
    <!--========== END PAGE CONTENT ==========-->
{% endblock %}