{% extends 'base-layout.html' %}
{% block title %} - Account Login | Discover Club Events and Gigs in Kenya {% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}

<!--========== PAGE CONTENT ==========-->
<!-- Feedback Form -->
<div class="g-position--relative g-bg-color--primary">
    <div class="g-container--md g-padding-y-125--xs">
        <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">LOGIN</h2>
        </div>
        <div class="row g-row-col--5 g-margin-b-80--xs">
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <!-- <a href="{% url 'social:begin' 'facebook' %}" method="oauth2"> <i
                            class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-facebook"></i>
                        <p class="g-color--white-opacity">Login with Facebook</p>
                    </a> -->
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <a href="{% provider_login_url 'facebook' process='login' method='js_sdk' %}"> <i
                        class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-facebook"></i>
                        <p class="g-color--white-opacity">Connect with a Facebook Account</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs">
                <div class="g-text-center--xs">
                    <!-- <a href="{% url 'social:begin' 'linkedin-oauth2' %}"> <i
                            class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-linkedin"></i>
                        <p class="g-color--white-opacity">Login with Linked In</p>
                    </a> -->
                </div>
            </div>
        </div>
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        <form action="{% url 'login' %}" method="POST" class="center-block g-width-500--sm g-width-550--md">
            {% csrf_token %}
            <div class="row g-row-col-5 g-margin-b-10--xs">
                <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                    <input type="text" name="username" class="form-control s-form-v3__input" placeholder="* Username">
                </div>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control s-form-v3__input"
                        placeholder="* Password">
                </div>
            </div>
            <!-- <div class="g-margin-b-30--xs row checkbox">
                    <label class="g-color--white-opacity">
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div> -->
            <div class="g-text-center--xs g-margin-t-20--xs">
                <button type="submit"
                    class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Login</button>
            </div>
            <div class="g-text-center--xs">
                <a href="{% url 'register' %}" value='register' class="hova">I don't have an Account</a>
            </div>
        </form>
    </div>
</div>
<!-- End Feedback Form -->
<!--========== END PAGE CONTENT ==========-->
{% endblock %}