{% extends 'base.html' %}
{% block title %} - {{ event.venue }} | Discover Club Events and Gigs in Kenya {% endblock %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

<!-- Event Page -->
<div class="bg7 p-t-100 p-b-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto">
                <div class="p-lr-40 p-t-30 m-l-25 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="{{ event.event_image.url }}" alt="IMG-PRODUCT">
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                        </div>
                    </div>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <h4 class="mtext-109 cl0">
                            {{ event.title }}
                        </h4>
                    </div>

                    <div class="flex-w flex-t p-t-27">
                        <div class="size-2020">
                            <span class="mtext-101 cl0">
                                <i class="fa fa-clock-o"></i>
                            </span>
                        </div>

                        <div class="p-t-1">
                            <span class="mtext-110 cl0">
                                {{ event.event_date }} till {{ event.event_end_date }}
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-15">
                        <div class="size-2020">
                            <span class="mtext-101 cl0">
                                <i class="fa fa-building"></i>
                            </span>
                        </div>

                        <div class="p-t-1">
                            <span class="mtext-110 cl0">
                                {{ event.venue }}
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-15">
                        <div class="size-2020">
                            <span class="mtext-101 cl0">
                                <i class="fa fa-music"></i>
                            </span>
                        </div>

                        <div class="p-t-1">
                            <span class="mtext-110 cl0">
                                {{ event.genre }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-l--38 m-r-25 m-lr-0-xl p-t-30">
                    <div class="wrap-table-shopping-cart p-lr-40 p-t-30 p-b-40 m-l-25 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl0 p-b-30 bor12">
                            {{ event.venue }}
                        </h4>

                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <div class="p-t-5 p-b-5">
                                <span class="mtext-109 cl0">
                                    About
                                </span>

                            </div>
                            <p class="stext-110 cl0 p-t-2">
                                {{ event.description }}
                            </p>
                        </div>

                        <div class="flex-w flex-t p-t-15 p-b-30">
                            <!-- Map -->
                            <div class="mapouter container">
                                <div>
                                    {% leaflet_map "main" callback="map_init" %}
                                </div>
                                <script type="text/javascript">
                                    function map_init(map, options) {
                                        // set custom map marker-icon
                                        var myIcon = L.divIcon({className: 'my-div-icon'});
                                        // get club point lat and lon
                                        var lon = "{{ event.geometry.x }}";
                                        var lat = "{{ event.geometry.y }}";
                                        // zoom to point & add it to map
                                        map.setView([lat, lon], 12);
                                        L.marker([lat, lon], {icon: myIcon}).addTo(map).bindPopup('{{ event.venue }}').openPopup();
                                    }
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product -->
<section class="bg7 p-t-5 p-b-15">
    <div class="container">
        <!-- This Weekend -->
        <div class="tab02 women">
            <!-- Tab panes -->
            <div class="tab-content p-t-30  text-center">
                <span class="ltext-101 cl0"> You Might Also Like </span>
                <!-- - -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            {% if tonight %}
                            {% for event in tonight %}
                            <div class="item-slick2 p-l-5 p-r-5 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <a href="{% url 'event' event.slug %}">
                                            <img src="{{ event.event_image.url }}" class="image-fluid"
                                                alt="IMG-PRODUCT"></a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                {{ event.title }}
                                            </a>
                                            <span class="stext-105 cl0">
                                                {{ event.event_date }} - {{ event.event_end_date }}
                                            </span>
                                            <span class="stext-105 cl0">
                                                {{ event.venue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <a href="{% url 'event' event.slug %}">
                                            <img src="{{ event.event_image.url }}" alt="IMG-PRODUCT"></a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="{% url 'event' event.slug %}"
                                                class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                {{ event.title }}
                                            </a>
                                            <span class="stext-105 cl0">
                                                {{ event.event_date }} - {{ event.event_end_date }}
                                            </span>
                                            <span class="stext-105 cl0">
                                                {{ event.venue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}