{% extends 'base.html' %}
{% block title %} - {{ event.venue }} | Discover Club Events and Gigs in Kenya {% endblock %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

<!-- Slider -->
<section class="section-slide grab g-bg-color--dark-light">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url('');">
                <div class="container h-full">
                    <div class="row">
                        <div class="col-md-4 flex-col-l-m h-full p-t-100 p-b-30 respon5 hero-content">
                            <div class="block2-pic hov-img0" data-appear="fadeInDown" data-delay="0">
                                <img src="{{ event.event_image.url }}" class="hero-title g-color--white respon2">
                            </div>
                        </div>
                        <div class="col-md-8 flex-col-l-m h-full p-t-100 p-b-30 respon5 hero-content-2">
                            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5 hero-content">
                                <div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
                                    data-delay="0">
                                    <h1 class="hero-title g-color--white respon2">
                                        {{ event.title }}
                                    </h1>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
                                    data-delay="800">
                                    <p class="hero-teaser g-color--white p-t-19 respon1">
                                        <i class="fa fa-clock-o"></i>
                                        {{ event.event_date }} - Late
                                    </p>
                                    <span class="stext-105 cl12"> {{ event.genre }}
                                    </span>
                                </div>
                                <div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
                                    data-delay="800">
                                    <p class="hero-teaser g-color--white p-t-19 respon1">
                                        {{ event.venue }}
                                    </p>
                                </div>
                                <div class="layer-slick1 animated visible-false p-t-19" data-appear="slideInUp"
                                    data-delay="1600">
                                    <!-- <a href="#js__scroll-to-section"
                                        class="flex-c-m stext-101 cl0 size-101 bg2 hov-btn1 p-lr-15 trans-04">
                                        <p> Book a Table </p>
                                    </a> -->
                                    <a href="#js__scroll-to-directions"
                                        class="flex-c-m stext-101 cl0 size-101 bg2 hov-btn1 p-lr-15 trans-04 g-margin-t-10--xs">
                                        <p> Directions </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========== END PROMO BLOCK ==========-->
<!-- Shoping Cart -->
<!-- <form class="bg0 p-t-75" id="js__scroll-to-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart  g-margin-l-20--xs">
                            <tr class="table_head">
                                <th class="column-1 product-removal">Remove</th>
                                <th class="column-2 product-details">Type</th>
                                <th class="column-3 product-price">Price</th>
                                <th class="column-4 product-quantity">Quantity</th>
                                <th class="column-5 product-line-price">Sub Total</th>
                            </tr>
                            <tr class="table_row product">
                                <td class="column-1 product-removal">
                                    <button class="remove-product btn btn-danger btn-outline-danger g-margin-r-5--xs">
                                        Remove
                                    </button></td>
                                <td class="column-2 product-title">Happy Hour</td>
                                <td class="column-3 product-price">900</td>
                                <td class="column-4 product-quantity">
                                    <input class="mtext-104 cl3 txt-center increment" type="number" value="0" min="0">
                                </td>
                                <td class="column-5 product-line-price">0</td>
                            </tr>
                            <tr class="table_row product">
                                <td class="column-2 product-title">Early Birds</td>
                                <td class="column-3 product-price">2000</td>
                                <td class="column-4 product-quantity">
                                    <input class="mtext-104 cl3 txt-center increment" type="number" value="0" min="0">
                                </td>
                                <td class="column-5 product-line-price">0</td>
                            </tr>
                            <tr class="table_row product">
                                <td class="column-2 product-title">Book A Table</td>
                                <td class="column-3 product-price">5000</td>
                                <td class="column-4 product-quantity">
                                    <input class="mtext-104 cl3 txt-center increment" type="number" value="1" min="1">
                                </td>
                                <td class="column-5 product-line-price">5000</td>
                            </tr>
                        </table>
                    </div>

                    <div class="totals-item flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-25 p-lr-15-sm">
                        <span class="size-117 p-lr-20 m-r-10 m-tb-5"></span>
                        <div class="pull-right flex-c-m stext-101 cl2 size-118 trans-04 pointer lnr-text-align-right">
                            Total
                        </div>
                        <div class="pull-right flex-c-m stext-119 cl2 size-127
                                trans-04 pointer lnr-text-align-center totals-value" id="cart-subtotal">
                            5000
                        </div>
                    </div>
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Enter Phone Number</span>
                                        <input type="tel" class="form-control" id="inputPassword2" placeholder="254712345678">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">M-Pesa Checkout</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form> -->

<!-- Content page -->
<section class="p-t-10 g-bg-color--white-smoke" id="js__scroll-to-directions">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-md-offset-3 col-lg-offset-3">
                <div class="p-t-7 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        {{ event.title }}
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        {{ event.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Google Map -->
<div class="bg0 p-t-50 p-b-55">
    <div class="container">
        <div class="row bg0">
            <div class="col-md-6 p-left">
                <!-- Block1 -->
                <div class="mapouter container">
                    <div>
                        {% leaflet_map "main" callback="map_init" %}
                    </div>
                    <script type="text/javascript">
                        function map_init(map, options) {
                            // get club point lat and lon
                            var lon = "{{ event.geometry.x }}";
                            var lat = "{{ event.geometry.y }}";
                            // zoom to point & add it to map
                            map.setView([lat, lon], 12);
                            L.marker([lat, lon]).addTo(map);
                        }
                    </script>
                </div>
            </div>

            <div class="col-md-6 pad-l">
                <!-- Block1 -->
                <div class="block1-txt-child1 flex-col-l p-t-100">
                    <h1 class="hero-title g-color--dark-light respon2">
                        {{ event.title }}
                    </h1>
                    <p class="hero-teaser g-color--dark-light p-t-19 respon1">
                        <i class="fa fa-clock-o"></i>
                        {{ event.event_date }} - Late
                    </p>

                    <div class="layer-slick1 animated visible-false fadeInDown visible-true" data-appear="fadeInDown"
                        data-delay="800">
                        <p class="hero-teaser g-color--dark-light p-t-19 respon1">
                            {{ event.venue }}
                        </p>
                        <!-- <span class="stext-105 cl12">
                                Sat, Jan 11, 06:00 PM-04:00 AM
                            </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product -->
<section class="sec-product bg0 p-t-10 p-b-50 g-bg-color--white-smoke">
    <div class="container resize-content">
        <!-- Tab01 -->
        <div class="container tab01">
            <!-- Tab panes -->
            <div class="tab-content p-t-10">
                <h2 class="g-color--dark-light">
                    You Might Also Like
                </h2>
                <!-- - -->
                <!-- Trending Slide1 -->
                <div class="wrap-slick2">
                    <div class="slick2">
                        {% if trending %}
                        {% for event in trending %}
                        <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">

                                    <a href="{% url 'event' event.slug %}">
                                        <img src="{{ event.event_image.url }}" class="image-fluid" alt="IMG-PRODUCT">
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="flex-col-l ">
                                        <a href="{% url 'event' event.slug %}"
                                            class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            {{ event.title }}
                                        </a>

                                        <span class="stext-105 cl12">
                                            {{ event.event_date }} - Late
                                        </span>

                                        <span class="stext-105 cl12">
                                            {{ event.venue }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% else %}
                        <div class="item-slick2 item-l-15 item-r-15 p-t-15 p-b-15">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">

                                    <a href="{% url 'tickets' %}">
                                        <img src="img/events/pic5.jpg" class="image-fluid" alt="IMG-PRODUCT">
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="flex-col-l ">
                                        <a href="#" class="stext-104 cl0 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            Home Grown Mejja @ Machakos Stadium
                                        </a>

                                        <span class="stext-105 cl12">
                                            Sat, Apr 3, 10:00 PM-02:00 AM
                                        </span>

                                        <span class="stext-105 cl12">
                                            Machakos Sta
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
</div>

{% endblock %}